<!-- seccion de experiencia-->
<section class="experiencia mt-3">
    <div class="container text-center">
      <div class="row">
        <div class="col-3 mt-3">
          <img src="././../../../assets/img/experGral.jpg" alt="fotoExper" class="rounded-circle  img-fluid w-60 ">
        </div>
        <div class="col-9 mt-3 bg-brown2 "> <a href="panel" class="nav-link "><i class="fa-solid fa-pen-to-square"></i></a>
            <h3 class="mt-3"><em><strong>EXPERIENCIA</strong></em></h3><hr>
            <div *ngFor="let exper of experarray">
              <h4 class="mt-3"><b>{{exper.descripcion}}</b></h4>
              <h5>{{exper.trabajo}}</h5>
              <img [src]="exper.imagen" class="rounded img-fluid imagenesExper " alt="exper1">
            </div>           
          </div>
      </div>
    </div>
  </section>
