<!-- seccion de Habilidades-->
<section class="habilidades mt-3 ">
  <div class="container ">
    <div class="row">
      <div class="col-3 mt-3">
        <img src="/assets/img/habilidades.png" alt="habili" class="rounded-circle  img-fluid w-60 ">

      </div>
      <div class="col-9 mt-3 bg-brown2 text-center"> <a href="panel" class="nav-link "><i class="fa-solid fa-pen-to-square"></i></a>

        <h3 class="mt-3 text-center"><em><strong>HABILIDADES DURAS</strong></em></h3>
        <div class="progress mb-3" *ngFor="let habilD of habildurasarray">
          <div class="progress-bar progress-bar-striped bg-danger " role="progressbar"
            aria-label="Danger striped example" style="width: {{habilD.porcentaje}}%" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100">
            <strong class="text-right ">{{habilD.habilidad}}</strong>
          </div>
        </div>

        <h3 class="mt-3 text-center"><em><strong>HABILIDADES BLANDAS</strong></em></h3>
        <div class="progress mb-3" *ngFor="let habilB of habilblandasarray">
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
            aria-label="Danger striped example" style="width: {{habilB.porcentaje}}%" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100">
            <strong class="text-right ">{{habilB.habilidad}}</strong>
          </div>
        </div>

        <h3 class="mt-3 text-center"><em><strong>IDIOMAS</strong></em></h3>
        <div class="progress mb-3" *ngFor="let idiomas of idiomasarray">
          <div class="progress-bar progress-bar-striped bg-sucess" role="progressbar"
            aria-label="Danger striped example" style="width: {{idiomas.porcentaje}}%" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100">
            <strong class="text-right ">{{idiomas.habilidad}}</strong>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</section>