 <!--Footer -->
 <footer class="row bg-brown">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <div class="box text-center">
           
            <h5 class="text-white"> <i class="fa-sharp fa-solid fa-copyright"></i> LeanDelp</h5>
            <hr class="text-white">
          </div>
        </div>
        <div class="large-6 columns text-center">
          <div class="box text-white">2022</div>
        </div>
      </div>
    </div>
  </footer>
