<nav class="navbar navbar-expand-lg bg-brown">
    <div class="container-fluid">
      <a class="nvbar brand" href="#">
        <img src="./../../../assets/img/logo.png" alt="Logo_Arg_Programa" class="w-25">
        <img src="./../../../assets/img/LogosInti.png" alt="Logo_Inti" class="w-25">
      </a>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="https://facebook.com/lgd.arquitectura" target="_blank"><i
              class="fa-brands fa-square-facebook fa-2x text-white"></i></a></li>
        <li class="list-group-item"><a href="https://www.github.com/LeanDelp" target="_blank"><i
              class="fa-brands fa-square-github fa-2x text-white"></i></a></li>
        <li class="list-group-item"><a href="https://www.linkedin.com/in/leandro-delpino-0097b4155/" target="_blank"><i
              class="fa-brands fa-linkedin fa-2x text-white"></i></a></li>  
              
        <div>
          <app-boton-login></app-boton-login>
        </div>
        <div>
          <app-boton-logout></app-boton-logout>
        </div>
        
      </ul>
    </div>
  </nav>