section.banner{
    background-image:url(./../../../assets/img/bannerA.jpg) ;
    border-radius: 3ch;
    border-style: solid;
    border-color:brown;
    margin: .2%;
    height: 65vh;
    width: 99%;
    background-repeat:no-repeat;
    position:relative;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
    }

    h1.intro{
        font-size: 4rem;
        color: brown;
       }
       
       h2.intro{
        font-size: 3.5rem;
        
       }
       
       h3.intro{
           font-size: 3rem;
           padding-top: 5%;
       }