  <!-- seccion de presentacion-->
  <section class="presentacion mt-3">
    <div class="container text-center">
      <div class="row">
        <div class="col-3 mt-3">

          <img src="./../../../assets/img/perfilFinal.jpg" alt="fotoPerfil" title="mi foto"
            class="rounded-circle  img-fluid w-60 ">
        </div>
        <div class="col-9 mt-3 bg-brown2 ">
          <h5 class="mt-3">
            <p><strong>SOBRE MI</strong></p>
            <hr>
            <p><strong>Arquitecto...</strong></p>
            <p>recibido en la ciudad de Córdoba, actualmente desarrollando distintas actividades de manera
              independiente y participando de manera parcial con estudios y profesionales prestando servicio de manera
              virtual.</p>
            <p><strong>Full Stack developer Jr</strong></p>
            <p>Mis prmieros pasos en el desarrollo web desde mediados del año 2022</p>
          </h5>

        </div>
      </div>
    </div>
  </section>
