.rounded-circle{
    border-style:dotted;
    border-color:brown;
    border-width: .15cm;
   
}

.imagenesExper{
    width: 30%;
    height: 30%;
    
}

.bg-brown2{
    border-style: double;
    border-color: brown ;
    border-bottom-right-radius: 3ch;
    border-top-right-radius: 3ch;
    font-size: 20px; 
    background-color: rgb(231, 219, 219);
}